### RoboRio Installers
robotpy-installer==2025.0.3

### RobotPy
robotpy==2025.3.1.0
robotpy[commands2]
robotpy[phoenix6]
robotpy[rev]
robotpy[pathplanner]

# phoenix6==25.0.0b4
# robotpy-pathplannerlib==2025.1.1
robotpy-urcl==2025.0.1
# robotpy-rev==2025.0.0b4
